<!--
Author: Mattia Carganico
Student ID: 301278358
Date: 2023-09-24

Filename: footer.ejs
-->
<section class="container-fluid footer_section">
    <p>
        Copyright &copy; 2023 All Rights Reserved By Mattia Carganico
    </p>
</section>