<!--
Author: Mattia Carganico
Student ID: 301278358
Date: 2023-09-24

Filename: about.ejs
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/css-circular-prog-bar.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/nav') %>

        <!-- about section -->
        <section class="about_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_detail-box">
                            <h3 class="text-uppercase">
                                About Mattia
                            </h3>
                            <p>
                                As an AI software engineering student, I specialize in guiding organizations towards
                                data-driven decisions
                                and pioneering innovative software solutions.<br>
                                My skill set spans data science, programming, and agile methodologies, enabling me to
                                create impactful solutions.<br><br>
                                Through academic projects, I've demonstrated my prowess in database design,
                                real-time communication systems, web development, and software requirements
                                engineering.<br><br>
                                My ongoing education, technical skills, and certifications further solidify my
                                commitment to excellence in the field.
                            </p>
                            <div class="d-flex justify-content-center justify-content-sm-start">
                                <a href="doc/resume.pdf" class="sub_call_to-btn" target="_blank">
                                    <span>Resume</span>
                                </a>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_img-box">
                            <img src="images/about.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end about section -->
        <%- include('partials/footer') %>
</body>

</html>