/*
Author: Mattia Carganico
Student ID: 301278358
Date: 2023-09-24

Filename: about.ejs
*/

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/css-circular-prog-bar.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/nav') %>
        <!-- contact section -->
        <section class="contact_section layout_padding">

            <div class="container">
                <div class="d-flex justify-content-center d-md-block">
                    <h2>
                        Contact Mattia
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form action="/invia-form" method="POST">
                            <!-- form -->
                            <div>
                                <input type="text" name="firstName" placeholder="First Name">
                            </div>
                            <div>
                                <input type="text" name="lastName" placeholder="Last Name">
                            </div>
                            <div>
                                <input type="text" name="contactNumber" placeholder="Contact Number">
                            </div>
                            <div>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="mt-5">
                                <input type="text" name="message" placeholder="Message">
                            </div>
                            <div class="mt-5 d-flex justify-content-center justify-content-sm-start">
                                <button type="submit">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact section -->
        <!-- info section -->
        <section class="info_section">
            <div class="container ">
                <div class="row custom_border-btm pb-4">
                    <div class="col-md-4 info_logo">
                        <h2>
                            mc
                        </h2>
                        <p>
                            Feel free to get in touch with me using the contact form or email address.
                            I'm here to answer your questions and discuss potential collaborations.
                        </p>
                    </div>
                    <div class="col-md-4 info_address">
                        <h5>
                            Address
                        </h5>
                        <p>
                            Toronto, ON
                            Canada
                        </p>
                        <div class="info_address">
                            <a href="mailto:mcargani@my.centennialcollege.ca">mcargani@my.centennialcollege.ca</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- endsss info section -->
        <!-- end contact section -->
        <%- include('partials/footer') %>
</body>

</html>