<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/css-circular-prog-bar.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/nav') %>


        <!-- Contenuto specifico della pagina -->
        <!-- practice section -->
        <section class="practice_section layout_padding">
            <div class="container">
                <div class="d-flex flex-column align-items-center">
                    <p class="heading-text">
                        NEED HELP
                    </p>
                    <h3 class="text-uppercase">
                        SERVICES
                    </h3>
                </div>
                <div class="practice_container">
                    <div class="practice_box">
                        <div class="practice_img-box">
                            <img src="img/data_analyst.png" alt="data analyst">
                        </div>
                        <h4>
                            Data Insights & Analytics
                        </h4>
                    </div>
                    <div class="practice_box">
                        <div class="practice_img-box">
                            <img src="img/webapplications.png" alt="web applications">
                        </div>
                        <h4>
                            Web Development Solutions
                        </h4>
                    </div>
                    <div class="practice_box">
                        <div class="practice_img-box">
                            <img src="img/full_stack.png" alt="full stack development">
                        </div>
                        <h4>
                            Full-Stack Development Services
                        </h4>
                    </div>
                </div>
                <div class="practice_detail">
                    <p>
                        Unleashing data insights, crafting captivating web experiences, and engineering comprehensive
                        software solutions.
                        My expertise lies in simplifying intricate challenges to deliver tailored solutions for
                        businesses and individuals.
                        Let's collaborate to transform your vision into reality!
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="/about" class="sub_call_to-btn ">
                            <span>
                                Read More
                            </span>
                            <img src="images/right-arrow.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </section>


        <!-- end practice section -->


        <%- include('partials/footer') %>
</body>

</html>