<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/css-circular-prog-bar.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('include/nav') %>


        <!-- Contenuto specifico della pagina -->
        <!-- practice section -->
        <section class="practice_section layout_padding">
            <div class="container">
                <div class="d-flex flex-column align-items-center">
                    <p class="heading-text">
                        NEED HELP
                    </p>
                    <h3 class="text-uppercase">
                        SERVICES
                    </h3>
                </div>
                <div class="practice_container">
                    <div class="practice_box">
                        <div class="practice_img-box">
                            <img src="images/lawyer_icon1.png" alt="">
                        </div>
                        <h4>
                            Shoplifting

                        </h4>
                    </div>
                    <div class="practice_box">
                        <div class="practice_img-box">
                            <img src="images/lawyer_icon2.png" alt="">
                        </div>
                        <h4>
                            Weapon


                        </h4>
                    </div>
                    <div class="practice_box">
                        <div class="practice_img-box">
                            <img src="images/lawyer_icon3.png" alt="">
                        </div>
                        <h4>
                            Family Law


                        </h4>
                    </div>
                    <div class="practice_box">
                        <div class="practice_img-box">
                            <img src="images/lawyer_icon4.png" alt="">
                        </div>
                        <h4>
                            Sexual offences


                        </h4>
                    </div>
                </div>
                <div class="practice_detail">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="/about" class="sub_call_to-btn ">
                            <span>
                                Read More
                            </span>
                            <img src="images/right-arrow.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </section>


        <!-- end practice section -->


        <%- include('include/footer') %>
</body>

</html>